
# Auto-built applications
/bin/editor
/bin/ranger
/bin/runtime
/bin/sorbet.pid

/lib/breeder/build
/lib/lychee/build
/lib/lychee/source/DIST.js
/lib/fertilizer/build
/lib/sorbet/build


/projects/*
/projects/*/lychee.store
!/projects/README.md


# Whitelisted git-tracked projects
!/projects/chat
!/projects/blitzkrieg
!/projects/boilerplate
!/projects/cultivator
!/projects/mode7
!/projects/over-there
!/projects/pong
!/projects/tictactoe
!/projects/lethalmaze


# Cultivator
/projects/*/build
/projects/cultivator/editor/build
/projects/cultivator/ranger/build


# Well, yeah. Fuck these guys
.DS_Store

