
/bin/ranger
/bin/runtime

/projects/*
/projects/*/build
/projects/cultivator/ranger/build
/projects/*/lychee.store
!/projects/README.md
!/projects/boilerplate
!/projects/cultivator
!/projects/mode7
!/projects/pong
!/projects/tictactoe

/lychee/build/*
/lychee.store

/sorbet/lychee.store
/sorbet/.pid
/sorbet/build/*

.DS_Store
npm-debug.log
