
# Auto-built applications
/bin/editor
/bin/ranger
/bin/runtime
/bin/harvester.pid

/libraries/lychee/source/DIST.js
/libraries/*/build
/projects/*/build


/projects/*
/projects/*/lychee.store
!/projects/README.md


# Whitelisted git-tracked projects
!/projects/emoji-chat
!/projects/text-chat
!/projects/boilerplate
!/projects/cultivator
!/projects/mode7
!/projects/over-there
!/projects/pong
!/projects/tictactoe
!/projects/lethalmaze


# Cultivator
/projects/*/build
/projects/cultivator/editor/build
/projects/cultivator/ranger/build


# Well, yeah. Fuck these guys
.DS_Store

