
@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.eot');
	src: url('museo-sans-300.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-300.woff2') format('woff2'),
		 url('museo-sans-300.woff') format('woff'),
		 url('museo-sans-300.ttf') format('truetype'),
		 url('museo-sans-300.svg#museo_sans300') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'museo-sans-500';
	src: url('museo-sans-500.eot');
	src: url('museo-sans-500.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-500.woff2') format('woff2'),
		 url('museo-sans-500.woff') format('woff'),
		 url('museo-sans-500.ttf') format('truetype'),
		 url('museo-sans-500.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #ffffff;
	background: #405050;
	font-family: 'museo-sans-300';
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

body > article {
	display: block;
	position: static;
	width: 544px;
	height: auto;
	margin: 32px auto;
}

body > article div {
	margin: 16px 0px;
	text-align: center;
}

body > article div button {
	width: 128px;
	margin: 0px 16px;
}

body > article hr {
	margin: 32px 0px 16px 0px;
	border: 0 none;
	border-top: 1px solid #545454;
}

body > article > p:last-child {
	margin-bottom: 0px;
	text-align: center;
}

#lychee-MESSAGE {
	height: 0px;
	padding: 0px 16px;
	opacity: 0;
	overflow: hidden;
	transition: all 500ms ease-out;
}

#lychee-MESSAGE.visible {
	/* height: auto; */
	height: 5em;
	padding: 16px 16px;
	opacity: 1;
	overflow: auto;
	transition: all 500ms ease-out;
}

main {
	max-width: 1152px;
	margin: 32px auto;
	text-align: center;
}

article {
	display: inline-block;
	position: static;
	width: 256px;
	height: auto;
	margin: 16px;
	padding: 0px 0px 16px 0px;
	background: #363f3e;
	vertical-align: top;
}

article a {
	color: #32afe5;
	text-decoration: none;
}

article label {
	display: block;
	height: 64px;
	margin: 0px;
	padding: 0px 16px;
	background: #2f3736;
	font-family: 'museo-sans-300';
	font-size: 24px;
	line-height: 64px;
	text-align: left;
}

article p {
	display: block;
	margin: 16px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: justify;
}

article img {
	display: block;
	position: relative;
	width: 128px;
	height: 128px;
	margin: 16px auto;
}

article img:after {
	content: "No Icon";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 128px;
	height: 128px;
	line-height: 128px;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	background: #1f2726;
	z-index: 2;
}

article button {
	display: inline-block;
	position: static;
	width: 64px;
	height: 32px;
	margin: 0px 8px;
	color: #ffffff;
	background: #545454;
	font-family: 'museo-sans-300';
	font-size: 16px;
	appearance: none;
	border: 0px none;
	outline: none;
	overflow: hidden;
	text-overflow: hidden;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 300ms ease-out;
}

article button:focus,
article button:hover {
	background: #32afe5;
	transition: all 300ms ease-out;
}

article button:active {
	background: #32afe5;
	transition: all 0ms;
}

article pre {
	display: block;
	margin: 0px;
	padding: 16px;
	background: #1f2726;
	overflow: auto;
}


header {
	display: block;
	margin: 32px auto;
	text-align: center;
}

header h1,
header h2,
header h3 {
	display: inline-block;
	vertical-align: middle;
	margin: 16px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-weight: normal;
	line-height: 0px;
}

header h2 {
	margin: 0px;
	padding: 0px;
	color: #efefef;
	font-size: 64px;
}

header h2 span {
	color: #d0494b;
}

header h3 {
	display: block;
	font-size: 48px;
}

